.light {
  --theme-color: #98c1d9;
  --theme-page-background: #f1faee;
  --theme-page-text: #111;
}

.dark {
  --theme-color: #90e0ef;
  --theme-page-background: #14213d;
  --theme-page-text: #FFF;
}