body {
  background-color: #f6fff8;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.nav-client {
  background-color: #7ebdc2;
  border: 0px solid black;
  border-radius: 4px;
  height: 25px;
  display: flex;
  justify-content: center;
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: var(--theme-page-background);
  color: var(--theme-page-text);
}